<% if @user.errors.any? %>
  <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>Nous n'avons pas réussi à mettre à jour tes infos car :</p>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<article class="uk-card uk-card-default uk-card-body uk-margin">
  <%= form_with model: @user, class: "uk-form-stacked" do |form| %>
    <fieldset class="uk-fieldset">

      <div class="uk-margin">
        <%= form.label :first_name, "Prénom", class: "uk-form-label" %>
        <div class="uk-controls">
          <%= form.text_field :first_name, class: "uk-input" %>
        </div>
      </div>

      <div class="uk-margin">
        <%= form.label :last_name, "Nom", class: "uk-form-label" %>
        <div class="uk-controls">
          <%= form.text_field :last_name, class: "uk-input" %>
        </div>
      </div>

      <div class="uk-margin">
      <%= form.fields_for @city do |city_subform| %>
        <%= city_subform.label :name, "Ville", class: "uk-form-label" %>
        <div class="uk-controls">
          <%= city_subform.text_field :name, class: "uk-input" %>
        </div>
      <% end %>
      </div>

      <div class="uk-margin">
        <%= form.label :email, "Email", class: "uk-form-label" %>
        <div class="uk-controls">
          <%= form.text_field :email, class: "uk-input" %>
        </div>
      </div>

      <div class="uk-margin">
        <%= form.label :password, "Mot de passe", class: "uk-form-label" %>
        <div class="uk-controls">
          <%= form.text_field :password, class: "uk-input" %>
        </div>
      </div>

    </fieldset>
    <%= form.submit "Inscription", class: "uk-button uk-button-default" %>
  <% end %>
</article>