<article class="uk-card uk-card-default uk-card-body uk-margin">
   <h2><%= @user.first_name %> <%= @user.last_name %></h2>
   <hr>
   <p><b><%= @user.gossips.count %></b> potin<%= @user.gossips.count.zero? ? '' : 's' %></p>
   <hr>
   <ul class="uk-list">
      <% unless @user.age.nil? %>
         <li>
            <b>Age</b>
            <br>
            <%= @user.age %> ans
         </li>
      <% end %>
      <% unless @user.description.nil? %>
         <li>
            <b>Description</b>
            <br>
            <%= @user.description %>
         </li>
      <% end %>
      <% unless @user.city.nil? %>
         <li>
            <b>Ville</b>
            <br>
            <%= @user.city.name %> (<%= link_to "voir les potins", @user.city %>)
         </li>
      <% end %>
      <li>
         <b>Email</b>
         <br>
         <%= @user.email %>
      </li>
   </ul>
</article>

<% @user.gossips.each do |gossip| %>
   <article class="uk-card uk-card-default uk-card-body uk-margin">
      <h2><%= gossip.title %></h2>
      <hr>
      <p class="uk-margin-large"><%= gossip.content %></p>

      <% if current_user?(@user) %>
         <div class="uk-margin-large">
            <%= link_to "Modifier le potin", edit_gossip_path(gossip), class: "uk-button uk-button-default" %>
         </div>
      <% end %>
   </article>
<% end %>