<% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à enregistrer ton potin car</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<article class="uk-card uk-card-default uk-card-body uk-margin">
  <h2>Publie un potin</h2>
  <%= form_with model: @gossip, class: "uk-form-stacked" do |form| %>
    <fieldset class="uk-fieldset">

      <div class="uk-margin">
        <%= form.label :content, "C'est quoi ton potin ?", class: "uk-form-label" %>
        <div class="uk-controls">
          <%= form.text_area :content, class: "uk-textarea" %>
        </div>
      </div>

      <div class="uk-margin">
        <%= form.label :title, "Donne-lui un titre", class: "uk-form-label" %>
        <div class="uk-controls">
          <%= form.text_field :title, class: "uk-input" %>
        </div>
      </div>
    
    </fieldset>
    <%= form.submit "Publier le potin", class: "uk-button uk-button-default" %>
  <% end %>
</article>