<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Gossip Project</title>
  <!-- UIkit -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js" defer></script>
  <!-- CSS -->
  <%= stylesheet_link_tag "application" %>
</head>

<body uk-height-viewport class="uk-flex" style="background-color: #fffce6;">
  <header class="uk-width-1-3@m" style="position: sticky; top: 0; align-self: flex-start;">

    <div class="uk-card uk-card-secondary uk-card-body">
      <h1>The<br>Gossip<br>Project.</h1>
    </div>
  
    <nav class="uk-card uk-card-default uk-card-body">

      <% if session[:user_id].nil? %>
        <%= link_to "Inscription", new_user_path, class: "uk-button uk-button-default uk-button-small uk-button-secondary" %>
        <%= link_to "Connexion", new_session_path, class: "uk-button uk-button-default uk-button-small uk-button-secondary"%>
      <% else %>
        <%= button_to "Deconnexion", session_path(session.id), method: :delete, class: "uk-button uk-button-default uk-button-small uk-button-secondary"%>
      <% end %>

      <ul class="uk-nav uk-nav-default uk-margin-top uk-margin-bottom">
        <li class="uk-nav-header">Les potins</li>
        <li>
          <%= link_to gossips_path do %>
            <span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Tous les potins
          <% end %>
        </li>
        <li>
          <%= link_to new_gossip_path do %>
            <span class="uk-margin-small-right" uk-icon="icon: plus-circle"></span> Ajouter un potin
          <% end unless session[:user_id].nil? %>
        </li>
        <li class="uk-nav-header">Les pipelettes</li>
        <li>
          <%= link_to users_path do %>
            <span class="uk-margin-small-right" uk-icon="icon: happy"></span> Toutes les pipelettes
          <% end %>
        </li>
        <li>
          <%= link_to cities_path do %>
            <span class="uk-margin-small-right" uk-icon="icon: location"></span> Les villes des pipelettes
          <% end %>
        </li>
      </ul>
      
    </nav>

  </header>

  <main class="uk-flex uk-flex-center uk-flex-column uk-width-expand uk-padding-large">
    <%= yield %>
  </main>
</body>
</html>
